<p>callback works!</p>
<script>
    const params = new URL(window.location.href).searchParams;
    console.log(55555);
    console.log(params);
    // var data = "grant_type=authorization_code&code=wFdqkttbSwQqxETvqZnVQo&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fcallback&client_id=RrVsMV8tnyA2JVlaJPmKmM&client_secret=qDxQdhauQQGr3isIElpMS9CUW0rDPxPAkHL5GuYTccW";

    // var xhr = new XMLHttpRequest();
    // xhr.withCredentials = true;

    // xhr.addEventListener("readystatechange", function() {
    //     if (this.readyState === 4) {
    //         console.log(this.responseText);
    //     }
    // });

    // xhr.open("POST", "https://notify-bot.line.me/oauth/token");
    // xhr.setRequestHeader("cache-control", "no-cache");
    // xhr.setRequestHeader("postman-token", "160ca9f3-295e-067a-4300-775c70b47e8e");
    // xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");

    // xhr.send(data);
</script>